@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  html {
    @apply font-lexend bg-[#FEFDFE] text-[#9E9E9E];
  }
}

:root {
  --toastify-color-progress-light: #000 !important;
  --toastify-toast-width: flex !important;
}

.fade {
  mask-image: linear-gradient(
    to bottom,
    transparent 24%,
    rgba(0, 0, 0, 1) 100%
  );
}

.fade-to-bottom:after {
  height: 100px;
  width: 100px;
  position: absolute;
  bottom: 0;
  mask-image: linear-gradient(to top, transparent 50%, rgba(0, 0, 0, 1) 100%);
}

.Toastify__toast-container {
  margin-top: 20px;
  margin-right: 20px;
}

.Toastify__toast-icon {
  display: none !important;
}
